/* Style untuk tombol kembali */
.kembali-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  text-decoration: none; /* Menghilangkan underline pada tautan */
  border: none; /* Menghilangkan border */
  border-radius: 5px; /* Sudut border */
  cursor: pointer; /* Menunjukkan kursor tangan saat mengarahkan ke tombol */
}

/* Hover effect saat mengarahkan kursor ke tombol */
.kembali-button:hover {
  background-color: #0056b3; /* Warna latar belakang berubah saat hover */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #007bff;
}
.form-container {
  text-align: center;
}
form {
  margin-top: 20px;
}
label {
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.result-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.result-title {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}
.result-text {
  margin: 5px 0;
}
